extends layout

block content
  h1 Auto-Checkout Cart
  p.lead Automatic retail checkout system
  hr
  .row
    .col-sm-6
      h2 Account Balance
      p S$
      p
        a.btn.btn-default(href='#', role='button') View details »